

.home-features
  .feature
    .bg
    .inner{ :style => "position: absolute; top: 50%; transform: translateY(-50%); left: 50%; transform: translate(-50%, -50%); width: 90%; max-width: 800px;"}
      %h1 We believe good design matters.
      .space
      %h3 For that reason, we've spent our lives honing and crafting the ability to help people communicate with design and technology, effectively, and strategically.

  .feature{ :style => "background-color:#131384 !important;"}
    .bg{ :style => "background-image: url(#{image_path "himss-homepage.jpg"})" }
    .inner
      %p Case Study
      %h1 Unique Experience, Complex Data
      %h3 The HIMSS Health IT Value Suite that we designed and developed was praised at the leadership level of the HIMSS and during a McKinsey audit was identified one of a few key pillars to build upon. Analytics provides backup in the form of data to these opinions—the Value Suite has astronomically higher statistics when compared to the rest of himss.org and industry averages.
      .space
      %button View Case Study

  .feature{ :style => "background-color:#bd002f !important;"}
    .bg{ :style => "background-image: url(#{image_path "tei-homepage.jpeg"})" }
    .inner
      %p Case Study
      %h1 Ground-up social education platform
      %h3 Together with The Entertainment Institute, we created a valuable and sustainable education & communication platform that helps artists be closer to their fans while keeping up with their demanding lifestyles with a year-round destination for the communities to thrive and interact in real-time with video chat & modern social features.
      .space
      %button View Case Study

  .feature{ :style => "background-color:rgb(77, 17, 88) !important"}
    .bg{ :style => "background-image: url(#{image_path "peruse-homepage.jpg"})" }
    .inner
      %p Case Study
      %h1 A Product Design Sprint.
      %h3 Peruse is our simple, but elegant mobile app, built to read design industry news from our favorite blogs, including: Awwwards, Invision, CreativeBloq, UX Booth, Designmondo, UX Movement, Dribbble, Smashing Magazine, Fast co.Design and our Adjust Creative Medium blog.
      .space
      %button View Case Study

  .feature{ :style => "background-color:#734f4f;" }
    .bg{ :style => "background-image: url(#{image_path "tovala-homepage.jpg"})" }
    .inner
      %p Case Study
      %h1 The future of your kitchen.
      %h3 We've been helping our friends at Tovala design an app for their multi-function smart oven and food-delivery service. We are hungry every time we go to their office.
      .space
      %button View Case Study

.home-services
  .maxwidth
    %h1 What we do

    .space
    %h3 We are an agile product design agency.

    %p We use lean methods to create and develop interactive products and experiences with a people-first approach. Our team has the skills to take a project from concept to launch but can also work just as effectively to augment a team.

    .space
    %p To see a full list of our capabilities,

    .space
    = link_to "/capabilities" do
      %button View our Capabilities
    .space

.work-with-us.lightbgblock
  .maxwidth
    .space
    %h1 Work with us
    .space
    %p Are you lookging to partner with a full-stack design and tech team? 
    %p Are you trying to design & build an app?
    %p Do you need high-impact design for your brand?
    .space
    %h3 These are the things we're great at.
    .space
    %p We partner with brands, innovators and educators to help facilitate great ideas. To find out more about how we do this contact us.
    .space
    %p Are you a student? Are you a design pro?
    %p We also want & need people to help us do great work.
    .space
    %h3 Let's talk.
    %p hello@adjustcreative.com
    .space
    .space





:css
  .home-services{
    padding:40px 0px;
  }

  .home-features{
    position:relative;
    width:100%;
  }
  .feature{
    position:relative;
    width:70%;
    margin-bottom:40px;
    text-align:center;
    cursor:pointer;
  }

  .feature .bg{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0.3;
    z-index: 100;
    background-color: transparent;
    background-size:cover !important;
    background-position: center center !important;
  }
  .feature .inner{
    position:relative;
    top:0px;
    z-index:200;
    padding:40px 0px;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }



:javascript
  window.HOMEPAGE=true;
