

#hometop.hometop
  %img#hp-adjust1{src: image_path("adjust-creative-phototext.png") }
  %img#hp-adjust2{src: image_path("adjust-creative-we-belive-in-good-design.svg" )}
  %div#hp-adjust3
    %p For that reason, we've spent our lives honing and crafting the ability to help people communicate with design and technology, effectively, and strategically

:css
  .hometop{
    position:relative;
    width:100%;

  }

  #hp-adjust1{
    position:absolute;
    top:0px;
    width:90%;
    left:5%;
    z-index:10;
  }
  #hp-adjust2{
    position:absolute;
    width:100%;
    z-index:20;
  }
  #hp-adjust3{
    position:absolute;
    width:90%;
    z-index:30;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
  }



.home-services.lightbgblock
  .maxwidth
    %h1 What we do

    .space
    %h3 We are an agile product design agency.

    %p We use lean methods to create and develop interactive products and experiences with a people-first approach. Our team has the skills to take a project from concept to launch but can also work just as effectively to augment a team.

    .space
    .align-right
      = link_to "/p/about" do
        %button Learn more about what we do
    .space

#case-studies.home-features
  #case-study-tei.feature{ :style => "background-color:#bd002f !important;"}
    .bg{ :style => "background-image: url(#{image_path "tei-homepage.jpg"})" }
    .inner
      %p Case Study
      %h1 Real-time video & Social education
      %h3 Together with The Entertainment Institute, we created a valuable and sustainable education & communication platform that helps artists be closer to their fans while keeping up with their demanding lifestyles with a year-round destination for the communities to thrive and interact in real-time with video chat & modern social features.
      .space
      = link_to "View Case Study", "/articles/the-entertainment-institute", class: "button"

  #case-study-himss.feature{ :style => "background-color:#131384 !important;"}
    .bg{ :style => "background-image: url(#{image_path "himss-homepage.jpg"})" }
    .inner.align-right
      %p Case Study
      %h1 Unique Experience, Complex Data
      %h3 The HIMSS Health IT Value Suite that we designed and developed was praised at the leadership level of the HIMSS and during a McKinsey audit was identified one of a few key pillars to build upon. Analytics provides backup in the form of data to these opinions—the Value Suite has astronomically higher statistics when compared to the rest of himss.org and industry averages.
      .space
      = link_to "View Case Study", "/articles/himss", class: "button"

  #case-study-peruse.feature{ :style => "background-color:rgb(77, 17, 88) !important"}
    .bg{ :style => "background-image: url(#{image_path "peruse-homepage.jpg"})" }
    .inner
      %p Case Study
      %h1 Idea to Product in One Week
      %h3 Peruse is our simple, but elegant mobile app, built to read design industry news from our favorite blogs, including: Awwwards, Invision, CreativeBloq, UX Booth, Designmondo, UX Movement, Dribbble, Smashing Magazine, Fast co.Design and our Adjust Creative Medium blog.
      .space
      = link_to "View Case Study", "/articles/peruse", class: "button"

  #case-study-tovala.feature{ :style => "background-color:#734f4f;" }
    .bg{ :style => "background-image: url(#{image_path "tovala-homepage.jpg"})" }
    .inner
      %p Case Study
      %h1 The future of your kitchen
      %h3 We've been helping our friends at Tovala design an app for their multi-function smart oven and food-delivery service. We are hungry every time we go to their office.
      .space
      = link_to "View Case Study", "/articles/tovala", class: "button"


.workwithus.lightbgblock
  .maxwidth
    .space
    %h1 Work with us
    .space
    %p Are you lookging to partner with a full-stack design and tech team? 
    %p Are you trying to design & build an app?
    %p Do you need high-impact design for your brand?
    .space
    %h3 These are the things we're great at.
    .space
    %p We partner with brands, innovators and educators to help facilitate great ideas. To find out more about how we do this contact us.
    .space
    %p Are you a student? Are you a design pro?
    %p We also want & need people to help us do great work.
    .space
    %h3 Let's talk.
    %p hello@adjustcreative.com
    .space
    .space





:css
  .home-services{
    padding:40px 0px;
  }

  .home-features{
    position:relative;
    width:100%;
  }
  .feature{
    position:relative;
    width: 100%;
    /*margin-bottom:40px;*/
    text-align:center;
    cursor:pointer;
  }

  .feature .bg{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    opacity:0.3;
    z-index: 100;
    background-color: transparent;
    background-size:cover !important;
    background-position: center center !important;
  }
  .feature .inner{
    position:relative;
    top:0px;
    z-index:200;
    padding: 120px 0px;
    width:90%;
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
  }

  .hometop, .home-services, .home-features, .workwithus{
    opacity:0;
  }



:javascript
  window.HOMEPAGE=true;
