%h1 Create New Page

= simple_form_for(@page) do |f|
  = f.error_notification
  = f.input :title, label: false, placeholder: "Title"
  = f.input :slug, label: false, placeholder: "title-slug"
  = f.input :subtitle, label: false, placeholder: "Subtitle"
  = f.input :description, label: false, placeholder: "Description"
  = f.input :body, label: false, placeholder: "Body Text"
  /= f.input :parent_id, label: false, placeholder: "Parent Page"
  = f.button :submit  