!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Adjust Creative
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body
    
    #fss-container
      #fss-controls
      #fss-output
      #fss-ui
    #site-container
      = render 'layouts/shared/header'
      .main-wrapper
        = yield
      = render 'layouts/shared/footer'
    
