!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Adjust Creative
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

  %body
    :javascript
      window.PAGE_COLOR_1 = '#3e1a66';
      window.PAGE_COLOR_2 = '#ba27a4';
    
    #fss-container
      #fss-controls
      #fss-output
      #fss-ui
    #site-container
      = render 'layouts/shared/header'
      .main-wrapper
        = yield
      = render 'layouts/shared/footer'
      /= render 'layouts/shared/overlay_menu'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    
